@import "tailwindcss";

@theme {
  --animate-fade-in: fadeIn 0.8s ease-in;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 50;
    }
    100% {
      opacity: 100;
    }
  }

  --breakpoint-sm: 31.25rem; /* 500px */
  --breakpoint-md: 50rem;    /* 800px */
  --breakpoint-lg: 64rem;    /* 1024px */
  --breakpoint-xl: 75rem;    /* 1200px */
  --breakpoint-2xl: 87.5rem; /* 1400px */

  --color-background: #18150D;
  --color-background-lighter: #252420;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
